body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.title-box {
    width: 500px;
}

.title-box img {
    width: 235px;
    margin-bottom: -10px;
}

.title-box p {
    color: black;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

.form-box {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 60px;
    box-shadow: 1px 4px 3px 8px rgba(71,71,71,0.52);
}

.form-box input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 6px;
}

.form-box input:focus {
    box-shadow: 1px 2px 2px 4px rgba(71, 71, 71, 0.60);
}

.form-box button {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: #0404a2;
    margin-bottom: 15px;
    padding: 13px 0;
    cursor: pointer;
}

.form-box button:hover {
    background-color: blue;
}

.form-box a {
    color: blue;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box hr {
    border: 1px solid darkgrey;
}

.form-box .create-btn a {
    color: blue;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: medium;
    background-color: rgba(225, 225, 225, 0.68);
    border-radius: 5px;
    font-weight: 600;
    display: inline;
}

.form-box .create-btn a:hover {
    text-decoration: underline;
}

img {
    border-radius: 20px;
}